.clock {
    width: 80vw;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clock .digital-clock {
    padding: 10px;
}
.clock .analog__clock {
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    border-radius: 50%;
    position: relative;
    background: #fff;
}
.clock .analog__clock .dial {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    transform-origin: bottom left;
}
.clock .analog__clock .dial.seconds {
    border-left: solid 1px green;
}
.clock .analog__clock .dial.minutes {
    border-left: solid 1px #c00;
}
.clock .analog__clock .dial.hours {
    width: 35px;
    height: 35px;
    top: 15px;
    border-left: solid 2px #000;
}
